<h1>Add a tag to <%= @plant.name %></h1>

<%= simple_form_for [@plant, @plant_tag] do |f| %>
  <%= f.association :tag, input_html: { multiple: true } %>
  <%= f.submit "Add Tag!", class: "btn btn-primary" %>
<% end %>